/* 
    Document   : style
    Created on : 2013-03-18, 19:02:03
    Author     : slawomir
    Description:
        Purpose of the stylesheet follows.
*/

td.active 
{
    border: 1px;
    border-color: red;
    color: red;
    font-weight: bold;
}

.setBrush img
{
    max-width: 36px;
}

table.brushPicker
{
    background-color: #C4BA62;
    border: 1px;
    width:  150px;
}


table.brushPicker td:hover, td.active 
{
    background-color: #f6fbb9;
}

.boardDim
{
    width: 30px;
}

div#canvasWrapper
{
    width: 650px;
    margin: 0px auto 0px auto;
}

table.arrows
{
    width: 650px;
}

